@model GestorC.ViewModels.VM_Secretaria
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/SecretariaLayout.cshtml";
}

<div class="blue">
    <h4><span class="glyphicon glyphicon-hand-right"></span> Home</h4>
</div>

<h1 class="francois blue">Bienvenido al gestor de sesiones de consejo</h1>

<label>Historial de sesiones</label>

<ul class="list-group small-size-input">
    @foreach (var s in Model.GetUberController().getControlador().getAllNumeroSesiones())
    {
        if (Model.GetUberController().getControlador().getSesion(s).Estado)
        {
            <li class="list-group-item">@Html.ActionLink(s, "Despues", "Secretaria", new { sesion = s})<span class="badge red-bg">Cerrada</span></li>
        }
        else
        {
            <li class="list-group-item">@Html.ActionLink(s, "Durante", "Secretaria", new { sesion = s })<span class="badge blue-bg">Abierta</span></li>
        }

    }
    <!-- <li class="list-group-item"><a href="">Sesión #5</a><span class="badge green-bg">En proceso</span></li>
    <li class="list-group-item"><a href="">Sesión #4</a><span class="badge blue-bg">Abierta</span></li>
    <li class="list-group-item"><a href="">Sesión #3</a><span class="badge red-bg">Terminada</span></li>
    <li class="list-group-item"><a href="">Sesión #2</a><span class="badge red-bg">Terminada</span></li>
    <li class="list-group-item"><a href="">Sesión #1</a><span class="badge red-bg">Terminada</span></li>-->
</ul>