<footer class="footer footer-bottom mini-top-space blue-bg white">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mini-top-space">
                <h1 class="pacifico white">Developed by Sleeping-Dogs &copy;</h1>
            </div>

            <div class="col-sm-3">
                <h2 class="pacifico white">Contact US</h2>
                <a href="#" class="white a-hover">https://www.sleepingdogs.com</a></br>
                <h5 class="white">sleepingdogsdesign@gmail.com</h5>
                <h5 class="white">+506 888-8888</h5>
            </div>

            <div class="col-sm-3">
                <h2 class="pacifico white">About US</h2>
                <a href="#" class="white a-hover">Facebook</a></br>
                <a href="#" class="white a-hover">Developers</a></br>
                <a href="#" class="white a-hover">Linkedin</a></br>
            </div>
        </div>
    </div>
</footer>
